In [1]:
import pandas as pd

In [2]:
# read the csv file
df_exams = pd.read_csv('StudentsPerformance.csv')
df_exams.head(3)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93

# 1. Value Count

In [3]:
# counting gender elements

# count with len()
len(df_exams['gender'])

# using count() method
df_exams['gender'].count()

np.int64(1000)

In [5]:
# counting gender elements by category
df_exams['gender'].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [8]:
# return the relative frequency (divide all values by the sum of values)
df_exams['gender'].value_counts(normalize=True)

gender
female    0.518
male      0.482
Name: proportion, dtype: float64

In [9]:
# counting the 'parental level of education' by elements category
df_exams['parental level of education'].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [11]:
# return the relative frequency and round to 2 decimals
df_exams['parental level of education'].value_counts(normalize=True) * 100

parental level of education
some college          22.6
associate's degree    22.2
high school           19.6
some high school      17.9
bachelor's degree     11.8
master's degree        5.9
Name: proportion, dtype: float64