In [39]:
import pandas as pd

In [40]:
df_laptops = pd.read_csv('laptop_price.csv', encoding='latin1')

In [41]:
df_laptops.head(3)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00

# 1 .drop_duplicates()

In [42]:
# drop duplicates in 2 or more column
df_laptops.drop_duplicates('Company')[['Company','Price_euros']]

       Company  Price_euros
0        Apple      1339.69
2           HP       575.00
5         Acer       400.00
8         Asus      1495.00
13        Dell       498.90
18      Lenovo       499.00
30       Chuwi       244.99
58         MSI      2449.00
70   Microsoft      1089.00
143    Toshiba       602.00
170     Huawei      1349.00
184     Xiaomi      1199.00
191       Vero       260.00
196      Razer      6099.00
429   Mediacom       299.00
430    Samsung       269.00
437     Google      2199.00
567    Fujitsu       739.00
678         LG      2299.00

In [43]:
# sort dataframe in ascending by company and price
# cheapest first and most expensive last
df_laptops = df_laptops.sort_values(['Company', 'Price_euros'])

In [44]:
# cheapest keep='first' -------- this means it only keeps the first value of each duplicate company *
df_laptops.drop_duplicates(['Company'], keep='first')[['Company', 'Price_euros']]

        Company  Price_euros
1215       Acer       174.00
1         Apple       898.94
20         Asus       191.90
30        Chuwi       244.99
340        Dell       274.90
983     Fujitsu       649.00
472      Google      1275.00
1268         HP       209.00
170      Huawei      1349.00
909          LG      1899.00
1272     Lenovo       229.00
1169        MSI       839.00
626    Mediacom       239.00
457   Microsoft       989.00
1117      Razer      1029.00
430     Samsung       269.00
159     Toshiba       447.00
1120       Vero       196.00
877      Xiaomi       935.00

In [45]:
# most expensive keep='last'
df_laptops.drop_duplicates(['Company'], keep='last', inplace=True, ignore_index=True)

 -- **inplace** : drop duplicates in place or to return a copy,
 
 -- **ignore_index=True** : resulting axes will be labeled as 0,1,...

In [46]:
# Arguments 

# keep last will only keep the last of each duplicates---since the df is sorted so the last of each duplicate will be exepensive **
df_laptops[['Company', 'Price_euros']]

      Company  Price_euros
0        Acer      2599.00
1       Apple      2858.00
2        Asus      3975.00
3       Chuwi       449.00
4        Dell      3659.40
5     Fujitsu       799.00
6      Google      2199.00
7          HP      4389.00
8      Huawei      1499.00
9          LG      2299.00
10     Lenovo      4899.00
11        MSI      2799.00
12   Mediacom       389.00
13  Microsoft      2589.00
14      Razer      6099.00
15    Samsung      1849.00
16    Toshiba      2799.00
17       Vero       260.00
18     Xiaomi      1399.95

# 2 Excercise 1

Task: Find the biggest and smallest screen size in laptops of each company
using the **sort_values()** and **duplicated** methods (keep "first","last" and False)

In [66]:
df_laptops = pd.read_csv('laptop_price.csv', encoding='latin1')

In [67]:
# sort dataframe ascending by Company and Inches
# smallest first and biggest last
df_laptops = df_laptops.sort_values(['Company', 'Inches'])

In [71]:
# smallest : keep='first'
df_laptops_first = df_laptops.drop_duplicates(['Company'], keep='first')[['Company', 'Inches']]
df_laptops_first

        Company  Inches
319        Acer    11.6
1234      Apple    11.6
20         Asus    11.6
421       Chuwi    12.3
455        Dell    11.6
567     Fujitsu    15.6
437      Google    12.3
677          HP    11.6
170      Huawei    13.0
909          LG    14.0
50       Lenovo    10.1
785         MSI    14.0
429    Mediacom    11.6
70    Microsoft    13.5
816       Razer    12.5
430     Samsung    11.6
963     Toshiba    12.5
1120       Vero    13.3
192      Xiaomi    13.3

In [70]:
# biggest : keep='last'
df_laptops_last = df_laptops.drop_duplicates(['Company'], keep='last')[['Company', 'Inches']]
df_laptops_last

        Company  Inches
1216       Acer    17.3
17        Apple    15.4
1256       Asus    17.3
483       Chuwi    15.6
1243       Dell    17.3
983     Fujitsu    15.6
762      Google    12.3
1136         HP    17.3
214      Huawei    13.0
905          LG    15.6
1217     Lenovo    17.3
177         MSI    18.4
718    Mediacom    14.0
670   Microsoft    13.5
830       Razer    17.3
593     Samsung    15.6
1042    Toshiba    15.6
1041       Vero    14.0
514      Xiaomi    15.6

### Counting Values ------------------

In [76]:
# keep = first
df_laptops_first.value_counts(['Company', 'Inches'])

Company    Inches
Acer       11.6      1
Apple      11.6      1
Asus       11.6      1
Chuwi      12.3      1
Dell       11.6      1
Fujitsu    15.6      1
Google     12.3      1
HP         11.6      1
Huawei     13.0      1
LG         14.0      1
Lenovo     10.1      1
MSI        14.0      1
Mediacom   11.6      1
Microsoft  13.5      1
Razer      12.5      1
Samsung    11.6      1
Toshiba    12.5      1
Vero       13.3      1
Xiaomi     13.3      1
Name: count, dtype: int64

In [77]:
# keep = last

df_laptops_last.value_counts(['Company', 'Inches'])

Company    Inches
Acer       17.3      1
Apple      15.4      1
Asus       17.3      1
Chuwi      15.6      1
Dell       17.3      1
Fujitsu    15.6      1
Google     12.3      1
HP         17.3      1
Huawei     13.0      1
LG         15.6      1
Lenovo     17.3      1
MSI        18.4      1
Mediacom   14.0      1
Microsoft  13.5      1
Razer      17.3      1
Samsung    15.6      1
Toshiba    15.6      1
Vero       14.0      1
Xiaomi     15.6      1
Name: count, dtype: int64