In [1]:
import pandas as pd

In [7]:
# reading the csv file
df_population_raw = pd.read_csv('population_total.csv')

In [8]:
# first look at the dataset
df_population_raw

            country    year    population
0             China  2020.0  1.439324e+09
1             China  2019.0  1.433784e+09
2             China  2018.0  1.427648e+09
3             China  2017.0  1.421022e+09
4             China  2016.0  1.414049e+09
...             ...     ...           ...
4180  United States  1965.0  1.997337e+08
4181  United States  1960.0  1.867206e+08
4182  United States  1955.0  1.716853e+08
4183          India  1960.0  4.505477e+08
4184          India  1955.0  4.098806e+08

[4185 rows x 3 columns]

# 1. Making a Pivot Table

.pivot(): Returns reshaped DataFrame organized by given index / column values ("pivot without aggregation")

In [10]:
# dropping null values
df_population_raw.dropna(inplace=True)

In [14]:
# making a pivot table 
df_pivot = df_population_raw.pivot(index="year", columns="country", values="population")

In [32]:
# to get all the countries----------------
df_pivot.columns.tolist()

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei ',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Caribbean Netherlands',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curaçao',
 'Cyprus',
 'Czech Republic (Czechia)',
 "Côte d'Ivoire",
 'DR Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Faeroe Islands',
 'Falkland Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Holy See',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'North Korea',
 'North Macedonia',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Réunion',
 'Saint Barthelemy',
 'Saint Helena',
 'Saint Kitts & Nevis',
 'Saint Lucia',
 'Saint Martin',
 'Saint Pierre & Miquelon',
 'Samoa',
 'San Marino',
 'Sao Tome & Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Vincent & Grenadines',
 'State of Palestine',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tokelau',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos',
 'Tuvalu',
 'U.S. Virgin Islands',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Wallis & Futuna',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [35]:
# select some country columns 
df_pivot = df_pivot[['India', 'China', 'United States', 'Indonesia', 'Australia', 'United Kingdom', 'Brazil', 'Russia']]

In [36]:
# showing pivot table 
df_pivot

country,India,China,United States,Indonesia,Australia,United Kingdom,Brazil,Russia
year,,,,,,,,
1955.0,4.098806e+08,6.122416e+08,171685336.0,77273425.0,9165707.0,51063902.0,62533919.0,111355300.0
1960.0,4.505477e+08,6.604081e+08,186720571.0,87751068.0,10242076.0,52370602.0,72179226.0,119871700.0
1965.0,4.991233e+08,7.242190e+08,199733676.0,100267062.0,11313195.0,54240850.0,83373530.0,126503736.0
1970.0,5.551898e+08,8.276014e+08,209513341.0,114793178.0,12793034.0,55573453.0,95113265.0,130148653.0
1975.0,6.231029e+08,9.262409e+08,219081251.0,130680727.0,13773288.0,56152333.0,107216205.0,133804858.0
1980.0,6.989528e+08,1.000089e+09,229476354.0,147447836.0,14588405.0,56209171.0,120694009.0,138053150.0
1985.0,7.843600e+08,1.075589e+09,240499825.0,164982451.0,15663663.0,56413553.0,135274080.0,142957284.0
1990.0,8.732778e+08,1.176884e+09,252120309.0,181413402.0,16960597.0,57134391.0,149003223.0,147531561.0
1995.0,9.639226e+08,1.240921e+09,265163745.0,196934260.0,17993074.0,57932453.0,162019896.0,148227466.0
2000.0,1.056576e+09,1.290551e+09,281710909.0,211513823.0,18991431.0,58923309.0,174790340.0,146404903.0
2005.0,1.147610e+09,1.330776e+09,294993511.0,226289470.0,20178540.0,60287954.0,186127103.0,143672116.0
2010.0,1.234281e+09,1.368811e+09,309011475.0,241834215.0,22154679.0,63459808.0,195713635.0,143479274.0
2015.0,1.310152e+09,1.406848e+09,320878310.0,258383256.0,23932502.0,65860146.0,204471769.0,144985057.0
2016.0,1.324517e+09,1.414049e+09,323015995.0,261556381.0,24262712.0,66297944.0,206163053.0,145275383.0
2017.0,1.338677e+09,1.421022e+09,325084756.0,264650963.0,24584620.0,66727461.0,207833823.0,145530082.0
2018.0,1.352642e+09,1.427648e+09,327096265.0,267670543.0,24898152.0,67141684.0,209469323.0,145734038.0
2019.0,1.366418e+09,1.433784e+09,329064917.0,270625568.0,25203198.0,67530172.0,211049527.0,145872256.0
2020.0,1.380004e+09,1.439324e+09,331002651.0,273523615.0,25499884.0,67886011.0,212559417.0,145934462.0