In [1]:
import pandas as pd

# 1 Read a .csv from a URL with Pandas

website :- `https://www.football-data.co.uk/data.php`

In [2]:
# read csv file from a URL using pandas, and store it as a DataFrame
df_premier24 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2425/E0.csv')

In [3]:
# show dataframe
df_premier24

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,25/05/2025,16:00,Newcastle,Everton,0,1,A,0,0,...,2.00,1.85,2.01,1.90,2.01,1.95,1.95,1.91,1.93,2.05
376,E0,25/05/2025,16:00,Nott'm Forest,Chelsea,0,1,A,0,0,...,1.80,2.05,1.86,2.08,1.86,2.08,1.81,2.05,1.86,2.14
377,E0,25/05/2025,16:00,Southampton,Arsenal,1,2,A,0,1,...,2.03,1.83,2.04,1.87,2.07,1.87,2.03,1.83,2.06,1.89
378,E0,25/05/2025,16:00,Tottenham,Brighton,1,4,A,1,0,...,1.95,1.90,2.00,1.93,2.01,1.93,1.95,1.89,2.06,1.93
379,E0,25/05/2025,16:00,Wolves,Brentford,1,1,D,0,1,...,1.85,2.00,1.90,2.03,1.90,2.05,1.85,1.97,1.89,2.10

In [4]:
# rename some columns
df_premier24.rename(columns={'FTHG':'home_goals',
                             'FTAG': 'away_goals'}, inplace=True)

In [5]:
df_premier24.head(3)

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96

# 2 read .csv from Multiple URLs with Pandas

- https://www.football-data.co.uk/mmz4281/2425/E0.csv
- https://www.football-data.co.uk/mmz4281/2425/E1.csv

**LINK = root + season + league**

In [6]:
# Link Structure
"https://www.football-data.co.uk/mmz4281/" + "2425" + "/" + "E0" + ".csv"

'https://www.football-data.co.uk/mmz4281/2425/E0.csv'

In [7]:
# Create a root variable
root = "https://www.football-data.co.uk/mmz4281/"

## 2.1 Multiple Leagues

- https://www.football-data.co.uk/mmz4281/2425/E0.csv
- https://www.football-data.co.uk/mmz4281/2425/E1.csv
- https://www.football-data.co.uk/mmz4281/2425/E2.csv
- https://www.football-data.co.uk/mmz4281/2425/E3.csv
- https://www.football-data.co.uk/mmz4281/2425/EC.csv

In [8]:
# Creating a list of leagues
leagues = ['E0', 'E1', 'E2', 'E3', 'EC']
frames = []

# Looping through the Leagues, read multiple CSVs and append it into a list
for league in leagues:
    df = pd.read_csv(root + '2425' + '/' + league + '.csv')
    frames.append(df)

In [9]:
# length of frames
len(frames)

5

## 2.2 Multiple Seasons

In [10]:
# Creating a list of leagues
leagues = ['E0', 'E1', 'E2']
frames = []

# Loop through the multiple seasons and insert a new column

for league in leagues:
    for season in range(19, 25):
        df = pd.read_csv(root + str(season)+str(season+1) + '/' + league + '.csv')
        df.insert(1, 'season', season)
        frames.append(df)

In [11]:
# Total Frames (6 Seasons x 3 Leagues)
len(frames)

18

In [12]:
# show 1st and last frames, (new column was created)
frames[0]
frames[17]

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E2,24,09/08/2024,20:00,Barnsley,Mansfield,1,2,A,1,...,2.03,1.83,2.02,1.87,2.05,2.00,1.95,1.85,2.06,1.93
1,E2,24,10/08/2024,17:30,Birmingham,Reading,1,1,D,0,...,1.80,2.05,1.81,2.10,1.83,2.10,1.80,2.01,1.82,2.16
2,E2,24,10/08/2024,17:30,Bristol Rvs,Northampton,1,0,H,0,...,1.98,1.88,1.98,1.91,1.98,1.92,1.93,1.86,2.02,1.97
3,E2,24,10/08/2024,17:30,Burton,Lincoln,2,3,A,2,...,1.80,2.05,1.82,2.08,1.88,2.09,1.80,2.01,1.88,2.11
4,E2,24,10/08/2024,17:30,Crawley Town,Blackpool,2,1,H,2,...,1.83,2.03,1.85,2.04,1.86,2.05,1.82,1.99,1.89,2.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E2,24,03/05/2025,15:00,Northampton,Wigan,1,1,D,1,...,2.05,1.80,2.09,1.78,2.11,1.80,2.03,1.78,2.13,1.84
548,E2,24,03/05/2025,15:00,Reading,Barnsley,2,4,A,0,...,1.85,2.00,1.79,2.07,1.85,2.12,1.79,2.03,1.87,2.11
549,E2,24,03/05/2025,15:00,Rotherham,Peterboro,2,1,H,1,...,1.93,1.93,1.93,1.92,2.00,1.95,1.91,1.89,1.98,2.00
550,E2,24,03/05/2025,15:00,Shrewsbury,Crawley Town,1,2,A,0,...,2.03,1.83,2.05,1.81,2.10,1.83,2.03,1.79,2.11,1.87
551,E2,24,03/05/2025,15:00,Wycombe,Stockport,1,3,A,1,...,1.85,2.00,1.87,1.99,1.87,2.15,1.80,2.04,1.88,2.11

# 3 Organize All the Data in a Dictionary

In [13]:
# Create a dictionary with original names of league as key
dict_countries = {
              'Spanish La Liga':'SP1', 'Spanish Segunda Division':'SP2',
              'German Bundesliga':'D1', 
              'English Premier League':'E0', 'English League 1':'E2', 'English League 2':'E3',
             }

In [14]:
# get a dictionary element
dict_countries['Spanish La Liga']

'SP1'

In [15]:
for league in dict_countries:
    print(dict_countries[league])

SP1
SP2
D1
E0
E2
E3

In [16]:
dict_historical_data = {}
# Create List of leagues
# leagues = ['E0', 'E1', 'E2']


# Loop through the multiple seasons and insert a new column
for league in dict_countries:
    frames = []
    for season in range(19, 25):
        df = pd.read_csv(root + str(season)+str(season+1) + '/' + dict_countries[league] + '.csv')
        df.insert(1, 'season', season)
        frames.append(df)
    df_concat = pd.concat(frames)
    dict_historical_data[league] = df_concat

In [17]:
# show dataFrame inside dict_historical_data
dict_historical_data['Spanish La Liga']

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,1XBCH,1XBCD,1XBCA,BFECH,BFECD,BFECA,BFEC>2.5,BFEC<2.5,BFECAHH,BFECAHA
0,SP1,19,16/08/2019,20:00,Ath Bilbao,Barcelona,1,0,H,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SP1,19,17/08/2019,16:00,Celta,Real Madrid,1,3,A,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SP1,19,17/08/2019,18:00,Valencia,Sociedad,1,1,D,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SP1,19,17/08/2019,19:00,Mallorca,Eibar,2,1,H,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SP1,19,17/08/2019,20:00,Leganes,Osasuna,0,1,A,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,24,24/05/2025,20:00,Getafe,Celta,1,2,A,1,...,4.85,3.88,1.77,5.30,3.9,1.79,2.08,1.89,1.95,2.03
376,SP1,24,24/05/2025,20:00,Vallecano,Mallorca,0,0,D,0,...,1.53,4.19,7.29,1.50,4.6,8.20,2.10,1.87,1.85,2.14
377,SP1,24,25/05/2025,13:00,Girona,Ath Madrid,0,4,A,0,...,3.48,3.57,2.16,3.50,3.7,2.24,1.60,2.64,2.04,1.94
378,SP1,24,25/05/2025,15:15,Villarreal,Sevilla,4,2,H,3,...,1.75,4.42,4.30,1.80,4.3,4.60,1.60,2.62,2.03,1.95
379,SP1,24,25/05/2025,20:00,Ath Bilbao,Barcelona,0,3,A,0,...,3.49,4.00,2.03,3.35,4.0,2.18,1.47,3.05,2.07,1.91

In [18]:
dict_historical_data.keys()

dict_keys(['Spanish La Liga', 'Spanish Segunda Division', 'German Bundesliga', 'English Premier League', 'English League 1', 'English League 2'])

In [19]:
dict_historical_data.values()

dict_values([     Div  season        Date   Time    HomeTeam     AwayTeam  FTHG  FTAG FTR  \
0    SP1      19  16/08/2019  20:00  Ath Bilbao    Barcelona     1     0   H
1    SP1      19  17/08/2019  16:00       Celta  Real Madrid     1     3   A
2    SP1      19  17/08/2019  18:00    Valencia     Sociedad     1     1   D
3    SP1      19  17/08/2019  19:00    Mallorca        Eibar     2     1   H
4    SP1      19  17/08/2019  20:00     Leganes      Osasuna     0     1   A
..   ...     ...         ...    ...         ...          ...   ...   ...  ..
375  SP1      24  24/05/2025  20:00      Getafe        Celta     1     2   A
376  SP1      24  24/05/2025  20:00   Vallecano     Mallorca     0     0   D
377  SP1      24  25/05/2025  13:00      Girona   Ath Madrid     0     4   A
378  SP1      24  25/05/2025  15:15  Villarreal      Sevilla     4     2   H
379  SP1      24  25/05/2025  20:00  Ath Bilbao    Barcelona     0     3   A

     HTHG  ...  1XBCH 1XBCD  1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  BFEC<2.5  \
0       0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
1       0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
2       0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
3       1  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
4       0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
..    ...  ...    ...   ...    ...    ...    ...    ...       ...       ...
375     1  ...   4.85  3.88   1.77   5.30    3.9   1.79      2.08      1.89
376     0  ...   1.53  4.19   7.29   1.50    4.6   8.20      2.10      1.87
377     0  ...   3.48  3.57   2.16   3.50    3.7   2.24      1.60      2.64
378     3  ...   1.75  4.42   4.30   1.80    4.3   4.60      1.60      2.62
379     0  ...   3.49  4.00   2.03   3.35    4.0   2.18      1.47      3.05

     BFECAHH  BFECAHA
0        NaN      NaN
1        NaN      NaN
2        NaN      NaN
3        NaN      NaN
4        NaN      NaN
..       ...      ...
375     1.95     2.03
376     1.85     2.14
377     2.04     1.94
378     2.03     1.95
379     2.07     1.91

[2280 rows x 132 columns],      Div  season        Date   Time   HomeTeam        AwayTeam  FTHG  FTAG  \
0    SP2      19  17/08/2019  17:00       Lugo  Extremadura UD     0     0
1    SP2      19  17/08/2019  17:00  Santander          Malaga     0     1
2    SP2      19  17/08/2019  18:00    Almeria        Albacete     3     0
3    SP2      19  17/08/2019  19:00      Elche     Fuenlabrada     0     2
4    SP2      19  17/08/2019  20:00  Vallecano        Mirandes     2     2
..   ...     ...         ...    ...        ...             ...   ...   ...
457  SP2      24  01/06/2025  17:30  La Coruna           Elche     0     4
458  SP2      24  01/06/2025  17:30    Levante           Eibar     1     0
459  SP2      24  01/06/2025  17:30     Oviedo           Cadiz     2     1
460  SP2      24  01/06/2025  17:30  Santander         Granada     2     1
461  SP2      24  01/06/2025  20:00    Cordoba        Albacete     1     1

    FTR  HTHG  ...  1XBCH 1XBCD  1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  \
0     D     0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
1     A     0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
2     H     0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
3     A     0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
4     D     2  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
..   ..   ...  ...    ...   ...    ...    ...    ...    ...       ...
457   A     0  ...   5.74  3.60   1.65   6.20   3.95   1.69      2.06
458   H     0  ...   1.66  3.93   4.99   1.75   3.90   5.70      1.83
459   H     2  ...   1.44  4.13   8.23   1.41   5.00  10.50      2.18
460   H     1  ...   2.28  3.51   2.99   2.30   3.65   3.35      1.80
461   D     0  ...   1.70  4.23   4.32   1.70   4.90   4.80      1.40

     BFEC<2.5  BFECAHH  BFECAHA
0         NaN      NaN      NaN
1         NaN      NaN      NaN
2         NaN      NaN      NaN
3         NaN      NaN      NaN
4         NaN      NaN      NaN
..        ...      ...      ...
457      1.90     2.08     1.89
458      2.16     1.97     2.01
459      1.83     2.02     1.94
460      2.22     1.98     1.99
461      3.45     1.85     2.15

[2772 rows x 132 columns],     Div  season        Date   Time       HomeTeam            AwayTeam  FTHG  \
0    D1      19  16/08/2019  19:30  Bayern Munich              Hertha     2
1    D1      19  17/08/2019  14:30       Dortmund            Augsburg     5
2    D1      19  17/08/2019  14:30       Freiburg               Mainz     3
3    D1      19  17/08/2019  14:30     Leverkusen           Paderborn     3
4    D1      19  17/08/2019  14:30  Werder Bremen  Fortuna Dusseldorf     1
..   ..     ...         ...    ...            ...                 ...   ...
301  D1      24  17/05/2025  14:30     Hoffenheim       Bayern Munich     0
302  D1      24  17/05/2025  14:30          Mainz          Leverkusen     2
303  D1      24  17/05/2025  14:30     M'gladbach           Wolfsburg     0
304  D1      24  17/05/2025  14:30     RB Leipzig           Stuttgart     2
305  D1      24  17/05/2025  14:30       St Pauli              Bochum     0

     FTAG FTR  HTHG  ...  1XBCH 1XBCD  1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  \
0       2   D   1.0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
1       1   H   1.0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
2       0   H   0.0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
3       2   H   2.0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
4       3   A   0.0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
..    ...  ..   ...  ...    ...   ...    ...    ...    ...    ...       ...
301     4   A   0.0  ...   4.83  4.58   1.65   5.00   4.70   1.69      1.35
302     2   D   1.0  ...   2.57  3.99   2.56   2.46   3.95   2.90      1.51
303     1   A   0.0  ...   2.31  4.21   2.78   2.34   4.30   2.88      1.38
304     3   A   2.0  ...   1.89  4.59   3.54   2.04   4.40   3.45      1.35
305     2   A   0.0  ...   1.77  4.19   4.43   1.77   4.20   4.90      1.69

     BFEC<2.5  BFECAHH  BFECAHA
0         NaN      NaN      NaN
1         NaN      NaN      NaN
2         NaN      NaN      NaN
3         NaN      NaN      NaN
4         NaN      NaN      NaN
..        ...      ...      ...
301      3.70     1.92     2.06
302      2.92     1.85     2.16
303      3.50     2.07     1.90
304      3.70     2.04     1.94
305      2.40     1.99     1.99

[1836 rows x 132 columns],     Div  season        Date   Time        HomeTeam          AwayTeam  FTHG  \
0    E0      19  09/08/2019  20:00       Liverpool           Norwich     4
1    E0      19  10/08/2019  12:30        West Ham          Man City     0
2    E0      19  10/08/2019  15:00     Bournemouth  Sheffield United     1
3    E0      19  10/08/2019  15:00         Burnley       Southampton     3
4    E0      19  10/08/2019  15:00  Crystal Palace           Everton     0
..   ..     ...         ...    ...             ...               ...   ...
375  E0      24  25/05/2025  16:00       Newcastle           Everton     0
376  E0      24  25/05/2025  16:00   Nott'm Forest           Chelsea     0
377  E0      24  25/05/2025  16:00     Southampton           Arsenal     1
378  E0      24  25/05/2025  16:00       Tottenham          Brighton     1
379  E0      24  25/05/2025  16:00          Wolves         Brentford     1

     FTAG FTR  HTHG  ...  1XBCH 1XBCD  1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  \
0       1   H     4  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
1       5   A     0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
2       1   D     0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
3       0   H     0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
4       0   D     0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
..    ...  ..   ...  ...    ...   ...    ...    ...    ...    ...       ...
375     1   A     0  ...   1.30  6.11  10.20   1.27    7.0  13.00      1.50
376     1   A     0  ...   3.50  3.86   2.06   3.55    3.9   2.14      1.76
377     2   A     0  ...  12.20  6.11   1.28  13.00    6.8   1.28      1.45
378     4   A     1  ...   3.63  4.12   1.95   3.95    4.2   1.93      1.51
379     1   D     0  ...   2.98  3.80   2.31   3.05    3.8   2.42      1.54

     BFEC<2.5  BFECAHH  BFECAHA
0         NaN      NaN      NaN
1         NaN      NaN      NaN
2         NaN      NaN      NaN
3         NaN      NaN      NaN
4         NaN      NaN      NaN
..        ...      ...      ...
375      2.94     1.93     2.05
376      2.28     1.86     2.14
377      3.15     2.06     1.89
378      2.92     2.06     1.93
379      2.78     1.89     2.10

[2280 rows x 133 columns],     Div  season        Date   Time       HomeTeam      AwayTeam  FTHG  FTAG  \
0    E2      19  03/08/2019  15:00  AFC Wimbledon     Rotherham     1     2
1    E2      19  03/08/2019  15:00      Blackpool   Bristol Rvs     2     0
2    E2      19  03/08/2019  15:00         Burton       Ipswich     0     1
3    E2      19  03/08/2019  15:00       Coventry      Southend     1     0
4    E2      19  03/08/2019  15:00      Doncaster    Gillingham     1     1
..   ..     ...         ...    ...            ...           ...   ...   ...
547  E2      24  03/05/2025  15:00    Northampton         Wigan     1     1
548  E2      24  03/05/2025  15:00        Reading      Barnsley     2     4
549  E2      24  03/05/2025  15:00      Rotherham     Peterboro     2     1
550  E2      24  03/05/2025  15:00     Shrewsbury  Crawley Town     1     2
551  E2      24  03/05/2025  15:00        Wycombe     Stockport     1     3

    FTR  HTHG  ...  1XBCH 1XBCD 1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  \
0     A     0  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
1     H     1  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
2     A     0  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
3     H     0  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
4     D     1  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
..   ..   ...  ...    ...   ...   ...    ...    ...    ...       ...
547   D     1  ...   2.36  3.31  2.91   2.50   3.25   3.25      2.40
548   A     0  ...   1.66  3.91  4.76   1.70   4.30   5.30      1.60
549   H     1  ...   1.75  4.16  4.06   1.80   4.50   4.30      1.46
550   A     0  ...   2.71  3.41  2.46   2.82   4.00   2.50      1.69
551   A     1  ...   2.56  3.11  2.81   2.70   3.20   3.00      2.46

     BFEC<2.5  BFECAHH  BFECAHA
0         NaN      NaN      NaN
1         NaN      NaN      NaN
2         NaN      NaN      NaN
3         NaN      NaN      NaN
4         NaN      NaN      NaN
..        ...      ...      ...
547      1.69     2.13     1.84
548      2.58     1.87     2.11
549      3.05     1.98     2.00
550      2.38     2.11     1.87
551      1.66     1.88     2.11

[3160 rows x 133 columns],     Div  season        Date   Time        HomeTeam            AwayTeam  FTHG  \
0    E3      19  03/08/2019  12:30         Salford           Stevenage     2
1    E3      19  03/08/2019  15:00        Bradford           Cambridge     0
2    E3      19  03/08/2019  15:00        Carlisle        Crawley Town     2
3    E3      19  03/08/2019  15:00      Colchester           Port Vale     1
4    E3      19  03/08/2019  15:00           Crewe            Plymouth     0
..   ..     ...         ...    ...             ...                 ...   ...
547  E3      24  03/05/2025  15:00       Morecambe           Harrogate     1
548  E3      24  03/05/2025  15:00  Newport County            Tranmere     1
549  E3      24  03/05/2025  15:00    Notts County           Doncaster     1
550  E3      24  03/05/2025  15:00       Port Vale          Gillingham     0
551  E3      24  03/05/2025  15:00         Swindon  Milton Keynes Dons     0

     FTAG FTR  HTHG  ...  1XBCH 1XBCD 1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  \
0       0   H     1  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
1       0   D     0  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
2       1   H     2  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
3       1   D     1  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
4       3   A     0  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
..    ...  ..   ...  ...    ...   ...   ...    ...    ...    ...       ...
547     2   A     1  ...   2.74  3.59  2.34   2.92   3.65   2.56      1.81
548     4   A     1  ...   4.18  3.68  1.79   4.50   4.00   1.88      1.93
549     2   A     0  ...   2.85  3.71  2.23   2.96   3.80   2.46      1.73
550     1   A     0  ...   1.41  4.29  7.93   1.48   4.70   8.00      1.92
551     0   D     0  ...   1.78  3.85  4.05   1.88   4.10   4.30      1.72

     BFEC<2.5  BFECAHH  BFECAHA
0         NaN      NaN      NaN
1         NaN      NaN      NaN
2         NaN      NaN      NaN
3         NaN      NaN      NaN
4         NaN      NaN      NaN
..        ...      ...      ...
547      2.18     1.81     2.22
548      2.04     1.84     2.13
549      2.28     1.85     2.15
550      2.04     2.09     1.86
551      2.34     2.11     1.86

[3200 rows x 133 columns]])

In [20]:
dict_historical_data.items()

dict_items([('Spanish La Liga',      Div  season        Date   Time    HomeTeam     AwayTeam  FTHG  FTAG FTR  \
0    SP1      19  16/08/2019  20:00  Ath Bilbao    Barcelona     1     0   H
1    SP1      19  17/08/2019  16:00       Celta  Real Madrid     1     3   A
2    SP1      19  17/08/2019  18:00    Valencia     Sociedad     1     1   D
3    SP1      19  17/08/2019  19:00    Mallorca        Eibar     2     1   H
4    SP1      19  17/08/2019  20:00     Leganes      Osasuna     0     1   A
..   ...     ...         ...    ...         ...          ...   ...   ...  ..
375  SP1      24  24/05/2025  20:00      Getafe        Celta     1     2   A
376  SP1      24  24/05/2025  20:00   Vallecano     Mallorca     0     0   D
377  SP1      24  25/05/2025  13:00      Girona   Ath Madrid     0     4   A
378  SP1      24  25/05/2025  15:15  Villarreal      Sevilla     4     2   H
379  SP1      24  25/05/2025  20:00  Ath Bilbao    Barcelona     0     3   A

     HTHG  ...  1XBCH 1XBCD  1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  BFEC<2.5  \
0       0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
1       0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
2       0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
3       1  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
4       0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
..    ...  ...    ...   ...    ...    ...    ...    ...       ...       ...
375     1  ...   4.85  3.88   1.77   5.30    3.9   1.79      2.08      1.89
376     0  ...   1.53  4.19   7.29   1.50    4.6   8.20      2.10      1.87
377     0  ...   3.48  3.57   2.16   3.50    3.7   2.24      1.60      2.64
378     3  ...   1.75  4.42   4.30   1.80    4.3   4.60      1.60      2.62
379     0  ...   3.49  4.00   2.03   3.35    4.0   2.18      1.47      3.05

     BFECAHH  BFECAHA
0        NaN      NaN
1        NaN      NaN
2        NaN      NaN
3        NaN      NaN
4        NaN      NaN
..       ...      ...
375     1.95     2.03
376     1.85     2.14
377     2.04     1.94
378     2.03     1.95
379     2.07     1.91

[2280 rows x 132 columns]), ('Spanish Segunda Division',      Div  season        Date   Time   HomeTeam        AwayTeam  FTHG  FTAG  \
0    SP2      19  17/08/2019  17:00       Lugo  Extremadura UD     0     0
1    SP2      19  17/08/2019  17:00  Santander          Malaga     0     1
2    SP2      19  17/08/2019  18:00    Almeria        Albacete     3     0
3    SP2      19  17/08/2019  19:00      Elche     Fuenlabrada     0     2
4    SP2      19  17/08/2019  20:00  Vallecano        Mirandes     2     2
..   ...     ...         ...    ...        ...             ...   ...   ...
457  SP2      24  01/06/2025  17:30  La Coruna           Elche     0     4
458  SP2      24  01/06/2025  17:30    Levante           Eibar     1     0
459  SP2      24  01/06/2025  17:30     Oviedo           Cadiz     2     1
460  SP2      24  01/06/2025  17:30  Santander         Granada     2     1
461  SP2      24  01/06/2025  20:00    Cordoba        Albacete     1     1

    FTR  HTHG  ...  1XBCH 1XBCD  1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  \
0     D     0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
1     A     0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
2     H     0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
3     A     0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
4     D     2  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
..   ..   ...  ...    ...   ...    ...    ...    ...    ...       ...
457   A     0  ...   5.74  3.60   1.65   6.20   3.95   1.69      2.06
458   H     0  ...   1.66  3.93   4.99   1.75   3.90   5.70      1.83
459   H     2  ...   1.44  4.13   8.23   1.41   5.00  10.50      2.18
460   H     1  ...   2.28  3.51   2.99   2.30   3.65   3.35      1.80
461   D     0  ...   1.70  4.23   4.32   1.70   4.90   4.80      1.40

     BFEC<2.5  BFECAHH  BFECAHA
0         NaN      NaN      NaN
1         NaN      NaN      NaN
2         NaN      NaN      NaN
3         NaN      NaN      NaN
4         NaN      NaN      NaN
..        ...      ...      ...
457      1.90     2.08     1.89
458      2.16     1.97     2.01
459      1.83     2.02     1.94
460      2.22     1.98     1.99
461      3.45     1.85     2.15

[2772 rows x 132 columns]), ('German Bundesliga',     Div  season        Date   Time       HomeTeam            AwayTeam  FTHG  \
0    D1      19  16/08/2019  19:30  Bayern Munich              Hertha     2
1    D1      19  17/08/2019  14:30       Dortmund            Augsburg     5
2    D1      19  17/08/2019  14:30       Freiburg               Mainz     3
3    D1      19  17/08/2019  14:30     Leverkusen           Paderborn     3
4    D1      19  17/08/2019  14:30  Werder Bremen  Fortuna Dusseldorf     1
..   ..     ...         ...    ...            ...                 ...   ...
301  D1      24  17/05/2025  14:30     Hoffenheim       Bayern Munich     0
302  D1      24  17/05/2025  14:30          Mainz          Leverkusen     2
303  D1      24  17/05/2025  14:30     M'gladbach           Wolfsburg     0
304  D1      24  17/05/2025  14:30     RB Leipzig           Stuttgart     2
305  D1      24  17/05/2025  14:30       St Pauli              Bochum     0

     FTAG FTR  HTHG  ...  1XBCH 1XBCD  1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  \
0       2   D   1.0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
1       1   H   1.0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
2       0   H   0.0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
3       2   H   2.0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
4       3   A   0.0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
..    ...  ..   ...  ...    ...   ...    ...    ...    ...    ...       ...
301     4   A   0.0  ...   4.83  4.58   1.65   5.00   4.70   1.69      1.35
302     2   D   1.0  ...   2.57  3.99   2.56   2.46   3.95   2.90      1.51
303     1   A   0.0  ...   2.31  4.21   2.78   2.34   4.30   2.88      1.38
304     3   A   2.0  ...   1.89  4.59   3.54   2.04   4.40   3.45      1.35
305     2   A   0.0  ...   1.77  4.19   4.43   1.77   4.20   4.90      1.69

     BFEC<2.5  BFECAHH  BFECAHA
0         NaN      NaN      NaN
1         NaN      NaN      NaN
2         NaN      NaN      NaN
3         NaN      NaN      NaN
4         NaN      NaN      NaN
..        ...      ...      ...
301      3.70     1.92     2.06
302      2.92     1.85     2.16
303      3.50     2.07     1.90
304      3.70     2.04     1.94
305      2.40     1.99     1.99

[1836 rows x 132 columns]), ('English Premier League',     Div  season        Date   Time        HomeTeam          AwayTeam  FTHG  \
0    E0      19  09/08/2019  20:00       Liverpool           Norwich     4
1    E0      19  10/08/2019  12:30        West Ham          Man City     0
2    E0      19  10/08/2019  15:00     Bournemouth  Sheffield United     1
3    E0      19  10/08/2019  15:00         Burnley       Southampton     3
4    E0      19  10/08/2019  15:00  Crystal Palace           Everton     0
..   ..     ...         ...    ...             ...               ...   ...
375  E0      24  25/05/2025  16:00       Newcastle           Everton     0
376  E0      24  25/05/2025  16:00   Nott'm Forest           Chelsea     0
377  E0      24  25/05/2025  16:00     Southampton           Arsenal     1
378  E0      24  25/05/2025  16:00       Tottenham          Brighton     1
379  E0      24  25/05/2025  16:00          Wolves         Brentford     1

     FTAG FTR  HTHG  ...  1XBCH 1XBCD  1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  \
0       1   H     4  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
1       5   A     0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
2       1   D     0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
3       0   H     0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
4       0   D     0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
..    ...  ..   ...  ...    ...   ...    ...    ...    ...    ...       ...
375     1   A     0  ...   1.30  6.11  10.20   1.27    7.0  13.00      1.50
376     1   A     0  ...   3.50  3.86   2.06   3.55    3.9   2.14      1.76
377     2   A     0  ...  12.20  6.11   1.28  13.00    6.8   1.28      1.45
378     4   A     1  ...   3.63  4.12   1.95   3.95    4.2   1.93      1.51
379     1   D     0  ...   2.98  3.80   2.31   3.05    3.8   2.42      1.54

     BFEC<2.5  BFECAHH  BFECAHA
0         NaN      NaN      NaN
1         NaN      NaN      NaN
2         NaN      NaN      NaN
3         NaN      NaN      NaN
4         NaN      NaN      NaN
..        ...      ...      ...
375      2.94     1.93     2.05
376      2.28     1.86     2.14
377      3.15     2.06     1.89
378      2.92     2.06     1.93
379      2.78     1.89     2.10

[2280 rows x 133 columns]), ('English League 1',     Div  season        Date   Time       HomeTeam      AwayTeam  FTHG  FTAG  \
0    E2      19  03/08/2019  15:00  AFC Wimbledon     Rotherham     1     2
1    E2      19  03/08/2019  15:00      Blackpool   Bristol Rvs     2     0
2    E2      19  03/08/2019  15:00         Burton       Ipswich     0     1
3    E2      19  03/08/2019  15:00       Coventry      Southend     1     0
4    E2      19  03/08/2019  15:00      Doncaster    Gillingham     1     1
..   ..     ...         ...    ...            ...           ...   ...   ...
547  E2      24  03/05/2025  15:00    Northampton         Wigan     1     1
548  E2      24  03/05/2025  15:00        Reading      Barnsley     2     4
549  E2      24  03/05/2025  15:00      Rotherham     Peterboro     2     1
550  E2      24  03/05/2025  15:00     Shrewsbury  Crawley Town     1     2
551  E2      24  03/05/2025  15:00        Wycombe     Stockport     1     3

    FTR  HTHG  ...  1XBCH 1XBCD 1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  \
0     A     0  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
1     H     1  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
2     A     0  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
3     H     0  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
4     D     1  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
..   ..   ...  ...    ...   ...   ...    ...    ...    ...       ...
547   D     1  ...   2.36  3.31  2.91   2.50   3.25   3.25      2.40
548   A     0  ...   1.66  3.91  4.76   1.70   4.30   5.30      1.60
549   H     1  ...   1.75  4.16  4.06   1.80   4.50   4.30      1.46
550   A     0  ...   2.71  3.41  2.46   2.82   4.00   2.50      1.69
551   A     1  ...   2.56  3.11  2.81   2.70   3.20   3.00      2.46

     BFEC<2.5  BFECAHH  BFECAHA
0         NaN      NaN      NaN
1         NaN      NaN      NaN
2         NaN      NaN      NaN
3         NaN      NaN      NaN
4         NaN      NaN      NaN
..        ...      ...      ...
547      1.69     2.13     1.84
548      2.58     1.87     2.11
549      3.05     1.98     2.00
550      2.38     2.11     1.87
551      1.66     1.88     2.11

[3160 rows x 133 columns]), ('English League 2',     Div  season        Date   Time        HomeTeam            AwayTeam  FTHG  \
0    E3      19  03/08/2019  12:30         Salford           Stevenage     2
1    E3      19  03/08/2019  15:00        Bradford           Cambridge     0
2    E3      19  03/08/2019  15:00        Carlisle        Crawley Town     2
3    E3      19  03/08/2019  15:00      Colchester           Port Vale     1
4    E3      19  03/08/2019  15:00           Crewe            Plymouth     0
..   ..     ...         ...    ...             ...                 ...   ...
547  E3      24  03/05/2025  15:00       Morecambe           Harrogate     1
548  E3      24  03/05/2025  15:00  Newport County            Tranmere     1
549  E3      24  03/05/2025  15:00    Notts County           Doncaster     1
550  E3      24  03/05/2025  15:00       Port Vale          Gillingham     0
551  E3      24  03/05/2025  15:00         Swindon  Milton Keynes Dons     0

     FTAG FTR  HTHG  ...  1XBCH 1XBCD 1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  \
0       0   H     1  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
1       0   D     0  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
2       1   H     2  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
3       1   D     1  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
4       3   A     0  ...    NaN   NaN   NaN    NaN    NaN    NaN       NaN
..    ...  ..   ...  ...    ...   ...   ...    ...    ...    ...       ...
547     2   A     1  ...   2.74  3.59  2.34   2.92   3.65   2.56      1.81
548     4   A     1  ...   4.18  3.68  1.79   4.50   4.00   1.88      1.93
549     2   A     0  ...   2.85  3.71  2.23   2.96   3.80   2.46      1.73
550     1   A     0  ...   1.41  4.29  7.93   1.48   4.70   8.00      1.92
551     0   D     0  ...   1.78  3.85  4.05   1.88   4.10   4.30      1.72

     BFEC<2.5  BFECAHH  BFECAHA
0         NaN      NaN      NaN
1         NaN      NaN      NaN
2         NaN      NaN      NaN
3         NaN      NaN      NaN
4         NaN      NaN      NaN
..        ...      ...      ...
547      2.18     1.81     2.22
548      2.04     1.84     2.13
549      2.28     1.85     2.15
550      2.04     2.09     1.86
551      2.34     2.11     1.86

[3200 rows x 133 columns])])