In [1]:
import pandas as pd

In [21]:
# read csv
df = pd.read_csv('players_20.csv')
# set index
df.set_index('short_name', inplace=True)
# select columns
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

In [22]:
# show dataframe
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

# 1. copy()

## 1.1 deep=True

In [23]:
# deep=True by dedault (Modifications to the data or indices of the copy)
df_copy = df.copy()

# here we created a copy of df that is independant Now --------

In [26]:
# update value in original dataframe
df.loc['L. Messi', 'height_cm'] = 180
# only getting updated in the original dataframe

In [27]:
# copy vs original dataframe
df
df_copy

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

## 1.2 deep=False

In [39]:
# deep=False  (Any changes to the DataFrame will affect the Original and the shalow copy also.)
df_cp = df.copy(deep=False)

In [40]:
# update value in the Original DataFrame
df.loc['L. Messi', 'height_cm'] = 175
# height was 180 (last updated)

In [41]:
# shalow copy VS original df
# df_cp.loc['L. Messi', 'height_cm'] # 175
df.loc['L. Messi', 'height_cm']  # 175

np.int64(175)

In [42]:
# both are updated the same

## 1.3 Simple assignment

In [46]:
# make a copy - simplest way
df_cp_new = df

In [48]:
# update in the original dataframe
# was 187 cm
df.loc['Cristiano Ronaldo', 'height_cm'] = 200

In [51]:
# copy VS original dataframe
# df.loc['Cristiano Ronaldo', 'height_cm']
df_cp_new.loc['Cristiano Ronaldo', 'height_cm']

# both are updated with the new values -----

np.int64(200)