In [1]:
import pandas as pd

In [2]:
# read csv file
df = pd.read_csv('players_20.csv')
# set index
df.set_index('short_name', inplace=True)
# select columns
df = df[['long_name', 'age',	'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

In [3]:
# show dataframe 
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

# 1. Selecting with a Single Value

iloc[ row_posi, column_posi ]

In [4]:
# get the height of L. Messi

# both index starts from 0
# first row = index 0
# height_cm column index = 3

df.iloc[0, 3]

np.int64(170)

In [5]:
# get the weight of Cristiano Ronaldo

df.iloc[1, 4]

np.int64(83)

In [6]:
# get all rows inside "height_cm" column

df.iloc[:, 3]

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
J. Oblak             188
E. Hazard            175
                    ...
Shao Shuai           186
Xiao Mingjie         177
Zhang Wei            186
Wang Haijian         185
Pan Ximing           182
Name: height_cm, Length: 18278, dtype: int64

In [7]:
# get all the columns that correspond to 'L. Messi'

df.iloc[0, :]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

# 2. Selecting with a list of values

In [8]:
# get all data about Leonal messi and Cristiano Ronaldo 
df.iloc[[0, 1], :]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus

In [9]:
# get the height of L messi and Cristiano Ronaldo
df.iloc[[0,1], [3]]

                   height_cm
short_name
L. Messi                 170
Cristiano Ronaldo        187

In [10]:
# get the height and weight of L. Messi
df.iloc[[0], [3,4]]

            height_cm  weight_kg
short_name
L. Messi          170         72

In [11]:
# get the height and weight of L. Messi & Cristiano Ronaldo 
df.iloc[[0,1], [3,4]]

                   height_cm  weight_kg
short_name
L. Messi                 170         72
Cristiano Ronaldo        187         83

# 3. Selecting a Range of data with Slice

start:stop (NOTE: start is included but the stop is excluded)

In [39]:
# Slice column lables : age/club
# players = ['L. Messi', 'Cristiano Ronaldo']
players = [0, 1]
df.iloc[players, 1:7]

,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,
L. Messi,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,34,1985-02-05,187,83,Portugal,Juventus

In [44]:
# slice index labels (top1 to top10 players)
# columns = ['age', 'dob', 'height_cm', 'weight_kg']
columns = [1,2,3,4]

# get top1 and top10 player name
df.iloc[0:10, columns]

                   age         dob  height_cm  weight_kg
short_name
L. Messi            32  1987-06-24        170         72
Cristiano Ronaldo   34  1985-02-05        187         83
Neymar Jr           27  1992-02-05        175         68
J. Oblak            26  1993-01-07        188         87
E. Hazard           28  1991-01-07        175         74
K. De Bruyne        28  1991-06-28        181         70
M. ter Stegen       27  1992-04-30        187         85
V. van Dijk         27  1991-07-08        193         92
L. Modrić           33  1985-09-09        172         66
M. Salah            27  1992-06-15        175         71

# 4. Selecring with Conditions

iloc() cannot accept a boolean , but boolean list. We have to use the list() function to convert a Series into a list.

In [49]:
# one condition : selecting one player with height above 180cm 
# columns = ['age', 'dob', 'height_cm', 'weight_kg']
columns = [1,2,3,4]

df.iloc[list(df['height_cm']>180), columns]

                   age         dob  height_cm  weight_kg
short_name
Cristiano Ronaldo   34  1985-02-05        187         83
J. Oblak            26  1993-01-07        188         87
K. De Bruyne        28  1991-06-28        181         70
M. ter Stegen       27  1992-04-30        187         85
V. van Dijk         27  1991-07-08        193         92
...                ...         ...        ...        ...
P. Martin           20  1999-01-05        188         84
Shao Shuai          22  1997-03-10        186         79
Zhang Wei           19  2000-05-16        186         75
Wang Haijian        18  2000-08-02        185         74
Pan Ximing          26  1993-01-11        182         78

[9744 rows x 4 columns]

In [52]:
# multiple condition: select a player with height more than 180cm and from Argentina

# columns = ['age', 'dob', 'height_cm', 'weight_kg', 'nationality']
columns = [1,2,3,4,5]

df.iloc[list( (df['height_cm']>180) & (df['nationality']=='Argentina') ), columns]

                age         dob  height_cm  weight_kg nationality
short_name
M. Icardi        26  1993-02-19        181         75   Argentina
G. Higuaín       31  1987-12-10        186         89   Argentina
E. Garay         32  1986-10-10        189         90   Argentina
N. Otamendi      31  1988-02-12        183         81   Argentina
G. Rulli         27  1992-05-20        189         84   Argentina
...             ...         ...        ...        ...         ...
T. Durso         20  1999-02-26        185         80   Argentina
J. Hass          21  1998-03-27        186         88   Argentina
R. Ferrario      19  2000-04-30        186         76   Argentina
L. Finochietto   22  1997-04-25        186         77   Argentina
N. Forastiero    20  1998-07-16        182         79   Argentina

[350 rows x 5 columns]