In [1]:
import pandas as pd

In [2]:
# read csv file
df = pd.read_csv('players_20.csv')

# set index
df.set_index('short_name', inplace=True)

# select columns 
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

In [4]:
# show dataframe 
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

# 1. sample()

In [10]:
# extract 10 random elements from 'nationality' column
df['nationality'].sample(10, random_state=99)

# 99 here is the key to this same random elements

short_name
R. Alvarado               Mexico
Qiao Wei                China PR
E. Paredes                 Chile
K. Stoyanov             Bulgaria
M. Chudý                Slovakia
D. Sundaram                India
R. Gagliardini             Italy
G. Debeljuh              Croatia
Kim Seung Yong    Korea Republic
M. Hansen                Denmark
Name: nationality, dtype: object

In [9]:
# extract a random 20% sample of the dataframe
# df.sample(18278/5)   # --- that is 20% of 18278 rows

# 20%
df.sample(frac=0.2)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
D. Ernst,Dominik Ernst,28,1990-08-08,178,72,Germany,1. FC Magdeburg
A. Gojak,Amer Gojak,22,1997-02-13,184,78,Bosnia Herzegovina,Dinamo Zagreb
M. Terrier,Martin Terrier,22,1997-03-04,184,73,France,Olympique Lyonnais
A. Souda,Aymen Souda,26,1993-02-28,178,60,France,Livingston FC
L. N'Diaye,Lassana N'Diaye,18,2000-10-03,180,82,Mali,PFC CSKA Moscow
...,...,...,...,...,...,...,...
J. Tunnicliffe,Jordan Tunnicliffe,25,1993-10-13,186,82,England,Crawley Town
Feng Boxuan,冯博园,22,1997-03-18,177,63,China PR,Guangzhou Evergrande Taobao FC
R. Sandberg,Rasmus Sandberg,18,2001-04-23,185,70,Norway,Rosenborg BK
J. Clauss,Jonathan Clauss,26,1992-09-25,185,72,France,DSC Arminia Bielefeld
H. Wolf,Hannes Wolf,20,1999-04-16,179,69,Austria,RB Leipzig

In [11]:
# upsample: increase the sampling rate -> frac>1 (NOTE:- replace parameter has to be True for frac parameter > 1)
df.sample(frac=2, replace=True, random_state=56)

# 56 here is the key to the random elements

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
A. Christiansen,Anders Christiansen,29,1990-06-08,174,75,Denmark,Malmö FF
André Almeida,André Gomes Magalhaes de Almeida,28,1990-09-10,185,80,Portugal,SL Benfica
Oswaldito Cuba,Oswaldo Germano Cuba Correia,35,1984-02-29,170,68,Brazil,Chapecoense
M. Pato,Matías Pato,26,1992-09-04,177,70,Argentina,Central Córdoba
A. Sigurðarson,Aron Sigurðarson,25,1993-10-08,177,70,Iceland,Iceland
...,...,...,...,...,...,...,...
D. Richards,D'Neal Richards,17,2002-03-01,187,79,England,Bolton Wanderers
A. Šimunec,Andrej Šimunec,24,1995-03-02,193,87,Croatia,CD Aves
H. Singh,Harmeet Singh,28,1990-11-12,180,74,Norway,HJK Helsinki
D. Aravena,Diego Aravena,22,1996-12-30,178,72,Chile,Coquimbo Unido
R. Dwamena,Raphael Dwamena,23,1995-09-12,186,81,Ghana,Real Zaragoza