In [1]:
import pandas as pd

In [24]:
# read and show the csv file
df_exams = pd.read_csv('StudentsPerformance.csv')
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

# 1 Create Index

In [25]:
import numpy as np
import random

In [26]:
# Creating non-repititive values for index
new_index = np.arange(0,1000)

In [27]:
# shuffling the index
random.shuffle(new_index)

In [28]:
# create new column with a new index
df_exams['new_index'] = new_index
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,new_index
0,female,group B,bachelor's degree,standard,none,72,72,74,348
1,female,group C,some college,standard,completed,69,90,88,602
2,female,group B,master's degree,standard,none,90,95,93,454
3,male,group A,associate's degree,free/reduced,none,47,57,44,47
4,male,group C,some college,standard,none,76,78,75,92
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,79
996,male,group C,high school,free/reduced,none,62,55,55,447
997,female,group C,high school,free/reduced,completed,59,71,65,987
998,female,group D,some college,standard,completed,68,78,77,906
999,female,group D,some college,free/reduced,none,77,86,86,589

# 2 Set Index

In [29]:
# set new_index column as index
df_exams.set_index('new_index', inplace=True)

In [30]:
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
new_index,,,,,,,,
348,female,group B,bachelor's degree,standard,none,72,72,74
602,female,group C,some college,standard,completed,69,90,88
454,female,group B,master's degree,standard,none,90,95,93
47,male,group A,associate's degree,free/reduced,none,47,57,44
92,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
79,female,group E,master's degree,standard,completed,88,99,95
447,male,group C,high school,free/reduced,none,62,55,55
987,female,group C,high school,free/reduced,completed,59,71,65
906,female,group D,some college,standard,completed,68,78,77
589,female,group D,some college,free/reduced,none,77,86,86

In [31]:
# Sort ascending by Index
df_exams.sort_index()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
new_index,,,,,,,,
0,male,group B,associate's degree,free/reduced,completed,82,78,74
1,male,group D,bachelor's degree,standard,none,80,73,72
2,male,group C,associate's degree,free/reduced,none,64,66,59
3,male,group D,high school,standard,none,53,52,42
4,male,group A,some college,free/reduced,none,28,23,19
...,...,...,...,...,...,...,...,...
995,female,group D,associate's degree,standard,none,76,74,73
996,male,group A,bachelor's degree,standard,none,64,60,58
997,female,group C,bachelor's degree,standard,none,77,88,87
998,female,group C,associate's degree,free/reduced,none,57,78,67
999,female,group C,some college,free/reduced,completed,45,73,70

In [33]:
# sort descending by index and save 
df_exams.sort_index(ascending=False, inplace=True)

In [34]:
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
new_index,,,,,,,,
999,female,group C,some college,free/reduced,completed,45,73,70
998,female,group C,associate's degree,free/reduced,none,57,78,67
997,female,group C,bachelor's degree,standard,none,77,88,87
996,male,group A,bachelor's degree,standard,none,64,60,58
995,female,group D,associate's degree,standard,none,76,74,73
...,...,...,...,...,...,...,...,...
4,male,group A,some college,free/reduced,none,28,23,19
3,male,group D,high school,standard,none,53,52,42
2,male,group C,associate's degree,free/reduced,none,64,66,59
1,male,group D,bachelor's degree,standard,none,80,73,72
0,male,group B,associate's degree,free/reduced,completed,82,78,74