In [1]:
import pandas as pd

In [4]:
# reading from the DataFrame
df_exams = pd.read_csv('StudentsPerformance.csv')
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# 1. Selecting One Column

## 1.1 Syntax - 1

In [20]:
# Selecting the column with [] (preferred way to select a column)
df_exams['gender']

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [21]:
# check the data type of the column
type(df_exams['gender'])

pandas.core.series.Series

In [23]:
# Series: Attributes and Methods
df_exams['gender'].index
df_exams['gender'].head()

0    female
1    female
2    female
3      male
4      male
Name: gender, dtype: object

## 1.2 Syntax - 2

In [19]:
# select a column with .
df_exams.gender

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [25]:
# select a column with . (pitfalls) 
df_exams.math_score
# cannot access with this Syntax-----

AttributeError: 'DataFrame' object has no attribute 'math_score'

In [ ]:
# Select the same column with []