In [2]:
import pandas as pd

In [3]:
df_exams = pd.read_csv('StudentsPerformance.csv')
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# 1. Adding a new column

### 1.1 Adding a new column with scaler value

In [5]:
# adding new column to DataFrame
df_exams['language score'] = 70
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,70
1,female,group C,some college,standard,completed,69,90,88,70
2,female,group B,master's degree,standard,none,90,95,93,70
3,male,group A,associate's degree,free/reduced,none,47,57,44,70
4,male,group C,some college,standard,none,76,78,75,70
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,70
996,male,group C,high school,free/reduced,none,62,55,55,70
997,female,group C,high school,free/reduced,completed,59,71,65,70
998,female,group D,some college,standard,completed,68,78,77,70
999,female,group D,some college,free/reduced,none,77,86,86,70

### 1.2 Adding new column with Array

The DataFrame has 1000 rows so we need to create an array with 1000 elements.

In [6]:
# import numpy
import numpy as np

In [9]:
# create an array of 1000 elements
language_score = np.arange(0,1000)

In [10]:
# len of language_score array
len(language_score)

1000

In [11]:
# update the language_score in the DataFrame
df_exams['language score'] = language_score
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,0
1,female,group C,some college,standard,completed,69,90,88,1
2,female,group B,master's degree,standard,none,90,95,93,2
3,male,group A,associate's degree,free/reduced,none,47,57,44,3
4,male,group C,some college,standard,none,76,78,75,4
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,995
996,male,group C,high school,free/reduced,none,62,55,55,996
997,female,group C,high school,free/reduced,completed,59,71,65,997
998,female,group D,some college,standard,completed,68,78,77,998
999,female,group D,some college,free/reduced,none,77,86,86,999

In [20]:
# create random integers between 1 to 100 
int_language_score = np.random.randint(1,100, size=1000)
# size is how many random integers to create...

In `random.randint(a, b)` : *a* is **inclusive** and *b* is **exclusive** (not included), So here 100 is not included.

In [16]:
# check the len of the new random score array
len(int_language_score)

1000

In [17]:
# update the DataFrane column 'language_score' with the new score (random values 1-99)
df_exams['language score'] = int_language_score

In [18]:
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,57
1,female,group C,some college,standard,completed,69,90,88,31
2,female,group B,master's degree,standard,none,90,95,93,46
3,male,group A,associate's degree,free/reduced,none,47,57,44,72
4,male,group C,some college,standard,none,76,78,75,46
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,96
996,male,group C,high school,free/reduced,none,62,55,55,79
997,female,group C,high school,free/reduced,completed,59,71,65,46
998,female,group D,some college,standard,completed,68,78,77,60
999,female,group D,some college,free/reduced,none,77,86,86,89

In [21]:
# create random float numbers between 1 to 100
np.random.uniform(1, 100, size=1000)

array([82.97134649,  8.4302716 , 44.22173211, 91.0187148 , 81.30170694,
       35.26168972, 95.42896126, 27.41115712, 93.37025141, 55.50909104,
       48.43698549, 55.75440833, 14.19454579, 24.35889019, 35.66303879,
        7.70218893, 61.7523076 , 65.03392643, 84.51375472, 19.29742377,
        2.25538336, 80.09898709, 77.98291591, 93.81580324, 81.57329893,
       38.58560103, 21.31446489, 47.04965978, 40.87879853, 96.37853075,
       56.18096886, 74.30293015, 88.43305662, 28.81537434, 55.55777147,
       38.5954728 , 99.05686314, 80.20425467, 30.07352334, 89.77454031,
       70.13041937, 92.95740513, 71.63343128,  4.29019261, 90.36956037,
       58.09004771, 87.3229577 , 98.90824458, 60.93919539, 36.24630947,
       64.98076806, 53.57302196, 50.6372374 , 61.66393928, 30.47012112,
       73.08474623, 72.16355041, 40.35162094, 97.62546261, 34.2708479 ,
       73.38546063, 83.35863203,  7.61609955, 47.26107239, 62.18661666,
       91.88040101, 26.15198852, 54.61737874, 48.55234783, 19.25714833,
       92.12986089, 56.96519841, 16.69952685, 72.65097521, 39.85683153,
       72.01190107, 87.69677608, 65.7677951 ,  9.98345229, 45.77897168,
        2.59258556, 42.38395817, 30.79421385, 97.68148428, 45.91881229,
       35.19761487, 55.97911597, 27.93889788, 16.75702729, 57.48118004,
       67.19083161, 65.13042199, 89.16349715, 75.81629531, 54.23966726,
       70.11400164, 13.18399499, 52.74593081, 37.83343759, 58.82691753,
       71.41873943, 10.16987105, 88.58302913, 38.99235546,  3.11472411,
       18.60757706,  8.03539972, 64.89108217, 11.11453499, 52.63466933,
       34.51303595, 59.11065291, 57.92526513, 79.32926949, 80.40854896,
       51.71349085, 35.21587574, 42.25397152, 79.75720426, 53.80826282,
       87.92904319, 42.1262047 ,  7.79681859, 13.14800251, 35.01855767,
       54.30319143, 60.45974322, 77.74970521, 76.10250064, 26.80807934,
       13.9133263 , 88.1485203 , 17.47923753, 25.48286771, 51.36532185,
       43.35418251, 65.0042527 , 87.28077199, 35.69794098, 81.04441608,
       89.5355977 ,  3.49751318, 94.59202606, 77.23034339, 75.78609756,
       24.66665079, 19.64929777, 30.91506942, 21.23883586, 74.24055719,
       73.04569266, 85.21932518, 82.41711559,  4.79491604, 62.17865235,
       49.40948843, 22.5660707 , 35.48804319, 57.03910414, 83.65487601,
       36.07617675, 94.19363636, 79.85686349, 58.45743188, 92.48117505,
       90.85390101, 70.56727135, 10.65074865, 78.47554601, 80.8295106 ,
       52.60009686, 25.4745728 , 68.18878847, 12.80054023, 37.07577693,
       31.77393947, 67.93926908, 29.38431794, 79.19395376, 41.83715703,
       24.80453917, 84.80890267, 62.84546192, 36.76452348, 91.23503882,
       31.60418629, 26.51278444, 62.73933144, 93.77071796, 16.70752533,
        7.9459002 , 17.1276549 , 10.95116874,  4.374169  , 98.91758011,
        6.52989155, 70.40587025, 27.31234672, 54.70927261, 94.13855152,
       42.7645952 , 61.28061998, 31.84198231, 61.84735368, 19.09569777,
       90.89269771, 27.28859361, 31.29781781, 34.85432471, 27.55992944,
       29.06436001, 31.18874706, 25.64378578, 58.99150968, 69.74165259,
       19.07027108, 47.71942922, 19.02753805, 59.60059273, 51.45375873,
       67.42709205, 14.09334696, 27.88380235, 81.48339024, 32.40172479,
       55.86587095,  2.0903772 , 67.47709147, 77.15169833, 19.35735439,
       29.24334392, 33.31757864, 60.03626939, 78.54571195,  1.15468063,
       27.80967516, 70.5172816 , 80.0106552 ,  1.74697973, 83.44411743,
       67.76341219, 70.19052422,  1.12692512, 82.36520572, 93.78600977,
       29.60650737, 48.78578002, 40.87332021, 10.40027124, 78.03679562,
       59.60943   , 80.47456994, 58.07887606, 51.07150348,  3.9606214 ,
       97.60052091, 95.07447256,  5.12457494, 12.28989793, 87.002027  ,
       77.60035804,  9.28663907, 82.61116469, 56.49239706, 58.31504301,
       85.23271243, 27.36800051, 85.82906993, 76.38186689, 41.18473016,
       21.29896339, 49.21071937, 77.35351507, 78.0326943 , 73.35251113,
        4.61378516, 43.15196234,  7.55910417, 89.70982843, 77.90582254,
       50.61724004, 34.63885408, 33.91464226, 88.903859  , 47.77089525,
       95.08332988, 31.99373573, 55.22951975, 71.06009178, 18.05614676,
       25.43245101, 21.75608577,  3.39241408, 74.00141589, 88.08669293,
       89.83491584, 30.94897935, 54.32896941, 45.91807957,  5.5021528 ,
       17.67396382, 82.90349572, 33.98524416, 80.55408176, 33.94722654,
       72.91735099, 48.8468246 , 52.99462014, 19.4242373 , 94.74327504,
       43.68841605, 20.82775444,  2.40056595, 11.54150887, 20.5211944 ,
       32.64093216, 93.2910947 , 13.03507347, 86.79247178, 70.19865738,
       91.85826453, 88.4735243 ,  8.56960404, 69.4620671 , 16.12696594,
       59.29851414, 27.6319283 , 94.04719146, 23.59390134, 57.23634029,
       28.08000289,  1.76795521, 63.86648914, 30.22071758, 74.73547074,
       88.00819835, 59.26141018, 49.94750232, 88.83313674, 59.06753483,
       20.32020231, 31.38884633, 86.22308186, 50.74601708, 35.72384644,
       14.09620731, 25.42321563, 34.63401323, 35.77450984, 47.99389298,
       93.17478192, 82.22963524, 96.93897134, 78.09070943, 12.97031876,
       57.56285101, 10.9389377 , 61.54332737, 77.60185699, 70.66836061,
       90.35257893, 48.4200803 , 63.5037107 , 18.50770565, 98.51310409,
        9.46225025, 77.30772555, 84.28392125, 77.74761424, 72.49484794,
       77.711592  , 98.35566848, 51.36625148, 30.00152092, 35.97864785,
       34.96397888, 43.3584017 ,  4.73494347, 56.76298777, 44.71894811,
       39.59528755, 62.94029568, 46.96040471, 22.28862434, 72.52233522,
       53.55007453, 49.46530065, 38.13018075, 26.35870594, 39.9399606 ,
       83.06918012, 39.84972756, 70.26080807, 75.51109103, 63.17494675,
       91.44868511, 73.33050213, 99.69431994, 60.55456694, 23.83871188,
       17.64978715,  7.58168971, 26.70818101, 79.70940401, 39.39584981,
       71.44633208,  6.67074589, 30.02739428,  8.31299377, 46.73049293,
       79.35751403, 84.07239375, 16.68224473, 97.18441828, 22.30628919,
       65.87323796, 52.04061465, 88.03950388, 83.22047748, 26.91492441,
       47.31966028, 64.38381367, 54.14763564, 55.87050905, 78.07967715,
       29.19602112, 63.86054937, 40.45245753, 12.54703198,  9.42893615,
       67.55910018, 32.80439568, 34.89277184, 55.82445838, 79.40669356,
       24.63812812, 13.47553532, 46.65260764, 36.20200904, 37.59906151,
        1.76612895,  8.43301795, 75.64951854, 69.21710965,  9.04144857,
       44.48993903, 82.86523864, 43.13375067, 32.34703345, 86.06382398,
        3.23964218,  1.44506727, 75.7046328 , 33.39813398,  9.69764057,
       23.51652812, 64.43141496, 98.09809094, 33.24762499, 28.02938676,
       30.05136221, 14.62610897, 52.95319164, 85.84867943, 57.59850533,
       88.31405321,  4.70927264,  4.55797456, 61.20732664, 26.43355948,
       91.43412761, 81.47548275, 80.31912847, 13.68514026, 58.98648088,
       31.41586575, 39.32295777, 87.98827375, 61.49685607, 88.32120489,
       80.62878835, 50.16651354, 71.72739194, 69.95623082, 20.72309295,
       39.71366168, 30.76090332, 34.85019282, 39.43170634,  1.97340265,
       12.15135349, 69.28013858, 45.57301189, 40.3821795 ,  6.78699689,
       84.43658437, 39.26106522, 44.31025476, 43.60928136, 14.55365678,
       73.6266775 , 80.68076699, 67.81270167, 69.52846736, 70.12587727,
       98.7468401 , 44.60507187, 94.2322346 , 36.09257099, 69.26051048,
       52.79765092, 13.98830578, 12.6369838 , 46.49700317, 69.6715293 ,
       64.47204725, 21.38192493, 99.31360027, 44.58199756, 58.76102129,
       80.45949894, 19.42556755, 69.79982984, 23.67008752, 38.36699926,
       27.65637448, 57.17051075, 18.01078785, 76.65632971, 68.1275606 ,
       61.72582172, 38.28195656, 20.26576167, 31.87485347, 69.50736211,
       50.77613271,  3.382031  , 39.68311471, 14.75682814, 44.78902265,
       66.71033762, 98.73719919, 55.2077466 , 23.14931823, 11.51853864,
       10.39414321, 41.0439384 , 95.10782672,  9.43106433, 45.40235979,
       36.05267349, 34.8745292 , 27.0998269 , 82.97058185, 36.21976882,
       32.0594401 , 39.05519556, 99.31237423, 59.50516865, 25.28736621,
       52.69435292, 17.03686432, 73.66530985, 38.80912182, 84.35837188,
       16.13071079, 29.48932454, 19.85893892, 59.64271026,  1.11799447,
        8.25747734, 80.73930187, 92.64883017, 39.34216645, 26.85338409,
       28.19094661, 41.47134562, 56.18872151, 98.91050881, 74.61657353,
       20.61724594, 10.80561004, 98.12762984, 13.74884521, 30.12724108,
       10.5166654 , 75.06973795, 31.95800988, 35.03589184, 65.94453992,
       96.40153906, 84.71837489, 15.94462726, 33.80056639,  5.35655893,
       89.21144291, 93.13157207, 18.39319472, 13.19695117, 81.90894286,
       46.18386242, 71.78716315, 99.31906811, 40.90574405,  3.17671029,
       67.76840218, 39.54313537, 29.42162454, 75.57141921, 36.2586942 ,
       33.7716374 , 73.67688366, 17.69009141,  3.79769373,  5.28171332,
       24.59384322, 85.82179587,  2.75793302, 51.12837215, 79.62456269,
       98.60994894, 85.58892461, 42.58085989, 14.81033896, 80.21785973,
       18.85512139, 34.40379388,  8.38216544, 14.64362421, 76.56193296,
       97.02580588, 28.10174685, 97.37095681, 88.94616129, 82.86382331,
       16.12955385, 54.4212185 , 49.43337952, 64.93933511, 98.31121052,
       71.75657784, 79.76096968, 81.00884954, 17.496187  , 65.81821108,
       82.67445852, 24.9017866 , 18.15429803, 11.80213494, 71.92363436,
       24.6845623 , 70.34086852, 24.42448591, 35.36695438, 28.64354005,
       68.24593302, 42.12632014, 72.81829211, 70.65959068, 50.11699726,
       62.36191765, 18.34435591,  6.13849213, 25.08901813, 32.94842586,
        4.14053196, 13.85812565, 31.9337373 , 24.07075424, 56.42306673,
        3.82926667, 11.27899001, 93.2465592 , 46.64552492, 97.91316177,
       37.58606944, 35.79901056, 92.87932766,  5.4096456 , 17.7922929 ,
       29.3386303 , 99.60574207,  9.99235572, 34.43462001, 71.1963309 ,
       68.31451301, 18.12817581, 79.19163294, 46.2068801 , 66.86062153,
       38.35857441, 78.57822727, 94.4171788 ,  6.41997607,  2.17248833,
       76.72731864, 99.67202804, 78.93527088, 91.00425625, 61.34597943,
       49.20234401, 44.17604475, 79.92037793, 71.22491526, 80.20665157,
       68.01562825, 20.90379312, 20.59820087, 95.8341563 , 43.47745759,
       62.89496521, 31.41666811, 30.88182138, 60.80259682, 38.4590459 ,
       32.79526518, 92.38960185, 51.91649311, 46.075209  , 13.17258157,
        7.05395715, 32.19899322, 92.74418588, 23.66900635, 43.33523183,
       21.84305069, 55.57885483, 17.02462669, 68.51441432, 55.10541916,
        7.20751162, 57.82432177, 76.9353649 , 27.68850327, 27.62677882,
        7.93041672, 53.68832811, 54.42918574, 45.80082277,  1.50673403,
       32.26730232, 66.26297537, 48.3017268 , 13.62491149, 14.33742204,
       22.10619875, 60.12242121, 99.75395777, 95.83839336, 34.21016608,
       72.34793697,  6.00679135, 26.25064513, 45.96933113, 24.41295055,
       62.07260515, 70.80054728, 69.88036903, 61.58109801,  7.29802232,
        6.88811752, 70.71884648,  5.17059648,  4.4925477 , 68.62674904,
        8.8381509 , 32.31179698, 92.28916705, 93.43659912, 45.29190097,
       30.93402169, 57.93459588, 41.35439449, 72.08982256, 52.76091032,
       65.40265593,  9.06431298, 14.72812021, 27.26941886, 18.13883656,
       81.9131308 , 51.43404951,  6.42288372, 12.92620481, 99.48945264,
       29.12956612, 73.22002776, 98.8016468 , 73.03229493,  9.37386035,
       43.71611976, 89.17842501, 16.94656254, 48.13330039, 50.93343211,
       85.16794907, 65.07039708, 96.57542189, 63.33372504,  6.3838645 ,
        9.86448492, 27.86867071,  2.9193364 , 48.27021228,  8.11545157,
       48.47224122,  8.03082173, 81.55789828, 57.85850392, 67.71678005,
       23.39860515, 64.80749472, 27.75727052, 23.38861811, 25.03786923,
       97.01537235, 11.42274409, 12.01394746, 34.0165082 , 12.70963001,
       42.78343313, 11.03035931, 27.74239117, 45.55849066, 48.22325445,
       93.66921434, 74.30427971, 85.30369578,  3.34880523, 61.06617157,
       59.97970575, 14.59375783, 47.30184345, 98.59616451, 33.73266518,
       91.76442823, 99.3915163 , 45.73098048, 10.69792886, 37.14965491,
       94.26697852, 45.92003761, 75.61681787, 96.50145018, 87.50131978,
        9.74337404, 29.68198782, 88.44451898, 73.30423759, 76.93043528,
       40.35839817,  5.72069634,  2.93611412, 29.22344472, 54.99944129,
       44.56967291, 45.77572865, 48.81005304,  1.22850642, 95.63913323,
       65.7013933 , 83.30270855,  7.15526789, 90.48551037, 84.91932919,
       92.52323327, 63.19981552, 13.67184151, 70.36170139, 35.20651492,
       74.3655927 , 89.99051604, 98.75937055, 29.87545302, 85.48650973,
       88.15089627, 45.86912867, 32.68203047,  3.89332193, 13.50114381,
        5.59103913, 29.32720119, 20.94606865, 78.6803169 , 43.76734675,
       82.46977597,  8.24276291, 73.13786905, 92.65003005, 63.92589812,
       75.61598719, 94.36891416, 74.4384335 , 18.82517884, 77.79173014,
       81.6576144 , 62.86731091, 38.29092302, 38.06792775, 63.17782753,
       81.08805555, 80.95641516, 93.36850574, 65.06381912, 16.20118892,
       76.44157666, 36.75529889, 28.46992217, 15.68207121, 64.08371224,
        2.68428932, 68.82888328,  4.58858861, 31.05149792,  2.28426193,
        8.88013973, 18.20003517, 92.33902472, 45.79363689, 38.84262569,
       54.38037645, 50.41066284, 63.59627862, 34.93894973, 83.73456674,
       22.97452704, 67.1845248 , 89.00282933,  1.54723801, 63.05254413,
       17.01724967, 50.62719989, 75.6916744 , 83.87029375, 97.07395397,
       87.94157988,  7.68470555, 34.68551998,  9.19890666, 77.05880458,
       17.73516007,  4.28869575, 62.76832684, 72.36754275, 59.38183515,
       96.2925266 , 55.5870289 ,  3.19864089, 56.04316888, 28.28416305,
       18.95710228, 75.06543616, 73.98340133, 12.70611428, 98.17418948,
       93.94203447, 43.74773465,  8.0998667 , 29.88883333, 65.95109825,
       96.31322635, 78.42336186, 93.55466168, 48.92232069, 78.49804027,
       13.25200835, 28.7154497 ,  2.82714976, 80.27097525, 45.98080164,
       19.2696956 , 69.63460398, 50.09988185, 40.90274909, 17.72497695,
       95.17159357, 34.31747848, 23.69638675, 87.61223011, 82.02072955,
       91.82244742, 13.05401251, 86.05562639, 86.008565  , 99.503268  ,
       35.2053535 , 14.90908855, 79.67246569, 48.56550795, 97.97263638,
       78.60149463, 87.67499837, 34.96612664, 49.69515259, 80.37000838,
       45.26917876,  4.96130818, 58.51585487, 35.10096295, 21.42593071])

The `uniform(a, b, size)` : returns random **float** number between *a and b* (b not *included*), size is how many value we want.